# configure station variables
station_id: "{{ station_id }}"
version: "{{ version }}"

# station runtime environment set to development to allow for debugging and reduced security settings
# if no value is given or any value other than 'development' is given it defaults to a production environment
environment: "{{ environment }}"

# configure the admin password for the station (username: admin)
admin_password: "{{ admin_password }}"

# set the station data directory where the station will store the data used for local analysis
station_data_dir: "{{ station_data_dir }}"

# Configure authentication for central services
central:
  api_url: "{{ central.api_url }}"
  robot_id: "{{ central.robot_id }}"
  robot_secret: "{{ central.robot_secret }}"
  private_key: {{ central.private_key }}
  private_key_password: "{{ central.private_key_password }}"

# Configure which port the proxy should use to listen for http requests
http:
  port: "{{ http.port }}"
{% if https %}
# Configure which port the proxy should use to listen for https requests
https:
  port: "{{ https.port }}"
  # Set the domain name for tls certificate either based on the existing certificate or to be used for self-signed certs
  domain: "{{ https.domain }}"
  # list of paths to certificate files (cert/key)
  certs:{% for cert in https.certs %}
    - cert: {{ cert.cert }}
      key: {{ cert.key }}
    {% endfor -%}
{% endif %}

# Configure the port for the traefik dashboard, can be disabled by settings disabled: true for the dashboard
traefik:
  dashboard:
    port: 8081
#   disabled: True

# Configures the address and credentials for the central container registry
registry:
  address: "{{ registry.address }}"
  user: "{{ registry.user }}"
  password: "{{ registry.password }}"
  {% if registry.project %}
  project: "{{ registry.project }}"
  {% endif %}


# configure admin user for the postgres database
db:
  admin_user: "{{ db.admin_user }}"
  admin_password: "{{ db.admin_password }}"

api:
  # Fernet key for encryption of sensitive values stored in the database
  fernet_key: "{{ api.fernet_key }}"


# configure airflow connection
airflow:
  # set admin user and password for airflow
  admin_user: "{{ airflow.admin_user }}"
  admin_password: "{{ airflow.admin_password }}"
  {% if airflow.config_file %}
  # path to a custom airflow configuration file
  config_file: {{ airflow.config_file }}
  {% endif %}
  {% if airflow.custom_dags_dir %}
  # if you want to load your own DAGs from a different location set the path here, only the libraries installed in the
  # airflow_dags folder will be available to code inside the DAGs
  extra_dags_dir: "{{ airflow.custom_dags_dir }}"
  {% endif %}

# Configure the connection to the authentication server as well as the admin accounts
auth:
  robot_id: {{ auth.robot_id }}
  robot_secret: {{ auth.robot_secret }}

# configure minio connection
minio:
  admin_user: "{{ minio.admin_user }}"
  admin_password: "{{ minio.admin_password }}"


