sqlalchemy < 1.4.0
apache-airflow[celery,crypto,hashicorp,password,postgres,redis]
docker
psycopg2-binary
python-dotenv
minio
# TODO check versions
torch
torchvision
git+https://gitlab.com/PersonalHealthTrain/implementations/germanmii/difuture/library/train-container-library.git
