http:
  routers:
    traefik:
      rule: "Host(`traefik.{{ domain }}`)"
      service: "api@internal"
      tls:
        domains:
          - main: "{{ domain }}"
            sans:
              - "*.{{ domain }}"

tls:
  certificates:
    {% for cert in certs %}
    - certFile: "{{ cert.cert }}"
      keyFile: "{{ cert.key }}"
    {% endfor %}